<FlexboxLayout>
	<StackLayout class="form">
		<Label text="I Got Your Drink" class="title"></Label>
		<TextField hint="Email Address" keyboardType="email" autocorrect="false" autocapitalizationType="none"
		 class="input input-border" backgroundColor="whitesmoke"></TextField>
         <TextField hint="Password" keyboardType="email" autocorrect="false" autocapitalizationType="none"
          class="input input-border" backgroundColor="whitesmoke"></TextField>
		<TextField hint="Confirm Password" secure="true" class="input input-border" backgroundColor="whitesmoke"></TextField>
		<Label text="Already have an account?" (tap)="login()"></Label> 

		<Button text="Register" class="btn btn-primary" ></Button>
	</StackLayout>
</FlexboxLayout>